body {
    margin: auto;
}

/* Parte superior */

.parteSuperior {
    border: 5px solid red;
}

.logo {
    
    width: 200px;
    text-align: center;
    display: inline-block;
}

.menu {
    
    display: inline-block;
    width: 1200px;
    text-align: center;
}

/* Parte del medio */

.parteMedio {
    border: 5px solid blue;
}

.descarga {
    border: 1px solid black;
    text-align: center;
    display: block;
}

.lorem {
    border: 1px solid black;
    text-align: center;
    display: block;
}

.encuesta {
    border: 1px solid black;
    text-align: center;
    display: block;
}

/* El pie */

.footer {
    border: 5px solid green;
    text-align: center;
    display: block;
}